all-on-one-form-sub-element {


    ion-icon {
        font-size: 32px;
    }
    .fault-total {
        //line-height: 1.75;
        position: absolute;
        top: -9px;
        left: 12px;
    }
    ion-checkbox {
        padding-top: 5px;
    }
    .checkbox-ios-dark .checkbox-checked .checkbox-inner {
        display: none;
        left: 13px;
        top: 6px;
        width: 5px;
        height: 15px;
    }
    .fault-type-text {
        position: absolute;
        top: 17px;
        left: 16px;
        z-index: 1;
        font-weight: bold;
        pointer-events: none;
        &.focused {
            color: #fff;
        }
    }

    ion-row {
        height: 38px;
    }

    .shrink {
        transform: scale(0.55);
    }

    .name {
        padding-left: 20px;
    }

    .pad-more {
        margin-left: 5px;
    }

}
