page-sidebar-prototype {
 ion-split-pane {
    margin-top: 92px; // push split pane down to prevent overlaping with ion-header (46px) + raport-header (56px) (black DVSA one)
 }

 ion-menu {

    .scroll-content {
        overflow-y: hidden;
        background: darken(map-get($colors, light), 5);
     }
    .menu-item {
        background: darken(map-get($colors, light), 5);
        color: map-get($colors, dark);
    }
 }

 .list {
    margin-top: 0px !important;
 }
}
