page-sidebar-prototype {
 ion-split-pane {
    margin-top: 92px; // push split pane down to prevent overlaping with ion-header (46px) + raport-header (56px) (black DVSA one)
 }

 ion-menu {
    max-width: 33% !important;
    .scroll-content {
        overflow-y: hidden;
        background: darken(map-get($colors, light), 5);
     }
    .menu-item {
        color: map-get($colors, dark);
        .section-fault-badge {
            position: absolute;
            right: 25px;
            margin-top: -5px;
            background-color: map-get($colors, dark);
            padding: 3px 8px;
            color: map-get($colors, light);
            border-radius: 10px;
        }
        &.active {
            background: map-get($colors, dark);
            .sidebar-item {
                color: map-get($colors, light);
                font-weight: bold;
            }
            .item-inner {
                background: map-get($colors, dark);
            }
            .section-fault-badge {
                background-color: map-get($colors, light);
                color: map-get($colors, dark);
            }
        }
        .item-inner {
            border-top: 0.5px solid darken(map-get($colors, light), 10);
            border-bottom: 0.5px solid darken(map-get($colors, light), 10);
        }
        .sidebar-item {
            padding: 1.5px 0;
            font-size: 16px;
            border: none;
            .icon {
                line-height: 0.87;
            }
        }
        :active {
            background: map-get($colors, light);
        }
    }
 }

 .list {
    margin-top: 0px !important;
 }
}
