<ion-content>
  <div *ngFor="let section of formPage.pageOptions.sections; let i = index;">
    <div margin-left margin-right>
      <h3 margin-top class="heading-small">{{section.header}}</h3>
      <fault-controls-v2 *ngFor="let item of section.items" [item]="item"></fault-controls-v2>
    </div>
  </div>
  <!-- <ion-list *ngFor="let section of formPage.pageOptions.sections; let i = index;">
    <ion-list-header style="overflow:auto;">
      <span class="float-left">
          {{section.header}}
      </span>
      <div *ngIf="i==0" class="right-input-margin float-right">
        <span>S</span>
        <span style="margin-left: 40px;">D</span>
      </div>
    </ion-list-header>
    <ion-item *ngFor="let item of section.items">
      <fail-counter [name]="item.name" [(counter)]="item.counter" [(isSerious)]="item.isSerious" [(isDangerous)]="item.isDangerous"></fail-counter>
    </ion-item>
  </ion-list> -->
</ion-content>
