page-all-on-one {
    .form-section {
        background-color: #eeeeee;
        border: 2px;
        border-color: #dddddd;
        border-style: solid;
        padding: 0;
        margin: 0;
    }

    .main-content ion-col {
        background-color: #eeeeee;
    }

    .legals {
        background-color: #eeeeee;
    }
}
