page-all-on-one {
  .form-section {
    // background-color: #eeeeee;
    // border: 2px;
    // border-color: #dddddd;
    // border-style: solid;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
  }
  ion-content .button-ios {
    color: #000;
    background-color: #fff;
    border: 2px;
    border-style: solid;
    border-color: #000;
    :active {
      background-color: #000;
      color: #fff;
    }
  }
  .activated {
    background-color: #000 !important;
    color: #fff !important;
  }
  ion-content {
    background-color: #f8f8f8 !important;
    button {
      height: 44px !important;
      width: 98%;
      background-color: #fff;
      color: #000000;
      border: 1px solid rgba(0, 0, 0, 0.35) !important; // border-style: solid !important;
      // border-color: #00003b !important;
      border-radius: 12px;
      margin-bottom: 8px;
      font-size: 16px;
    }
  }
  p {
    font-weight: bold;
    margin: 0px 0px 1px;
    font-size: 14px;
  }
  .bottom-border {
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  }
  .sd-buttons-wrapper {
    button {
      width: 48%;
    }

    .s-button.activated {
      background-color: lighten(map-get($colors, warn), 30) !important;
      color: black !important;
    }

    .s-button.active {
      border: 2px solid map-get($colors, warn) !important;
      color: map-get($colors, warn) !important;
      background-color: lighten(map-get($colors, warn), 30);
      font-weight: bold;
    }

    .d-button.activated {
      background-color: lighten(map-get($colors, danger), 35) !important;
      color: black !important;
    }

    .d-button.active {
      border: 2px solid map-get($colors, danger) !important;
      color: map-get($colors, danger) !important;
      background-color: lighten(map-get($colors, danger), 35);
      font-weight: bold;
    }
  }
}

// red
// button activated #E81403
// background #FF8379
