<ion-content padding class="mes-main-content">
  <ion-card class="mes-card">
    <ion-card-header class="mes-main-card-header--border-bottom mes-breadcrumbs">
      <span class="mes-header-md mes-breadcrumb-link" navPop>
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </span>
      <span float-right>
          <span class="mes-text-sm">App Ref: 392 382 354 33</span>
        </span>
    </ion-card-header>
    <ion-card-content class="content-narrow">
      <ion-row align-items-center>
        <ion-col col-4 class="mes-header-md">
            <span>Route Number</span>
        </ion-col>
        <ion-col col-2>
            <input type="text" appInputRestriction="integer">
        </ion-col>
        <ion-col class="align-content-to-right">
            <button class="mes-button-primary">Route Deviations</button>
        </ion-col>
      </ion-row>
      <div class="mes-divider"></div>
      <div>
        <span class="mes-header-md">Weather</span>
        <span class="conditions-list">{{conditionsList}}</span>
        <div float-right>
          <button float-right class="mes-button-primary" (click)="openWeatherModal()">Select</button>
        </div>
      </div>
      <div class="mes-divider"></div>
      <div class="mes-header-md">
        Examiner took action
        <div float-right>
          <input id="verbal-action" name="verbal" type="checkbox">
          <label for="verbal-action" class="mes-header-md">Verbal</label>
          <input id="physical-action" name="physical" type="checkbox">
          <label for="physical-action" class="mes-header-md">Physical</label>
        </div>
      </div>
      <div class="mes-divider"></div>
      <div class="mes-header-md">
        Physical description of candidate:
        <textarea rows="5"></textarea>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="mes-card">
      <ion-card-header class="mes-main-card-header--border-bottom">
        <span class="mes-header-md">Test Summary</span>
      </ion-card-header>
      <ion-card-content class="content-narrow">
        <post-test-summary-section [summary]="drivingFaultSummary" *ngIf="drivingFaultSummary.total > 0"></post-test-summary-section>
        <post-test-summary-section [summary]="seriousFaultSummary" *ngIf="seriousFaultSummary.total > 0"></post-test-summary-section>
        <post-test-summary-section [summary]="dangerousFaultSummary" *ngIf="dangerousFaultSummary.total > 0"></post-test-summary-section>
      </ion-card-content>
  </ion-card>
  <ion-card class="mes-bottom-card" text-center>
    <button (click)="backToJournal()" class="mes-button-primary">Submit</button>
  </ion-card>
</ion-content>
