page-post-test-summary {
  .conditions-list {
    display: inline-flex;
    width: 50%;
    font-weight: normal;
  }

  textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: thick solid map-get($colors, divider);
  }

  input[type='number'] {
    height: 45px;
    width: 100%;
    border: 5px solid map-get($map: $colors, $key: divider);
  }

  input[type='checkbox'] {
    position: relative;
    bottom: 10px;
    margin: 0px 5px 0 30px;
    & + label {
      bottom: 10px;
      margin: 10px 2px;
    }
  }

  .align-content-to-right {
    padding-right: 0;
    text-align: right;
  }

  ion-card-content {
    div {
      padding: 0 0 10px 0;
      font-weight: bold;
      font-size: 1.5em;

      button {
        bottom: 15px;
        position: relative;
      }
    }
  }
}
