page-manoeuvre {

    .buttons {
        padding-left: 15px;
    }

    .lines {
        border: 1px solid #ddd;
        margin: 10px 0;
    }

    .testContent {
        display: inline;
    }

    .titles {
        display:inline;
        font-weight: bold;
        font-size: 1.5em;
    }

    .faults {
        padding-right: 20px;
    }

    .nonFaults {
        top: 10px;
    }

    .nestedList {
        padding: 5px 0px;

        .row > ion-col h2 {
            padding-left: 10px;
        }
    }

    .nestedList:nth-child(odd) {
        background: #f3f3f3;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 5px;
    }
}