faults-scorecard {
    .faults-container {
        padding-left: 5px;
    }
    .scorecard-item {
        border: 1px solid map-get($colors, dark);
        padding: 4px 10px 4px 10px;
        border-radius: 3px;
        margin-left: 3px;
        color: map-get($colors, dark);
    }
}
