fault-controls-v2 {
    .fault-button {
        padding: 24px 0;
        border-radius: 9px;
        .add-icon {
            position: absolute;
            right: 30px;
            top: 8px;
            font-size: 40px;
        }
        .fault-badge {
            position: absolute;
            top: 8px;
            left: 15px;
            background-color: map-get($colors, dark);
            padding: 8px;
            border-radius: 12px;
            color: map-get($colors, light);
        }
    }
}
