dl25-modal-row {
    .modal-row {
        margin: 10px;
    }
    .heading-small {
        padding-top: 8px;
    }
    .fault-controls {
        width: 100%;
        .fault-button {
            padding: 24px 0;
            border-radius: 9px;
            border-right-width: 1px;
            border-left-width: 1px;
            font-size: 18px;
            .add-icon {
                position: absolute;
                right: 30px;
                top: 6px;
                font-size: 34px;
            }
            .fault-badge {
                &.serious {
                    left: 47px
                }
                &.dangerous {
                    left: 80px;
                }    
                position: absolute;
                top: 8px;
                left: 15px;
                background-color: map-get($colors, dark);
                padding: 8px;
                border-radius: 12px;
                color: map-get($colors, light);
            }
        }
    }
}

