<div class="modal-row">
    <div class="fault-controls">
      <!-- V2 -->
      <ion-row>
          <button 
            ion-button 
            color="dark" 
            large 
            full
            outline
            margin-left
            margin-right
            class="fault-button" 
            (click)="addDrivingFault(faultTitle, section)"
            (press)="faultHold(section)"
          >
            <span class="fault-badge">{{numDrivingFaults}}</span>
            <span class="fault-badge serious" *ngIf="serious">S</span>
            <span class="fault-badge dangerous" *ngIf="dangerous">D</span>
            {{!!section ? section : faultTitle}}
            <ion-icon name="ios-add-circle-outline" class="add-icon"></ion-icon>
          </button>
        </ion-row>
    </div>
</div>
