<div class="modal-row">
    <div class="fault-controls-v3">
      <!-- V3-->
      <ion-row>

        <ion-col col-10>
          <button 
            ion-button
            full
            outline
            class="fault-button" 
            (click)="addDrivingFault(faultTitle, section)">
            {{!!section ? section : faultTitle}}
            <span class="fault-badge">{{numDrivingFaults}}</span> 
            
          </button>
        </ion-col>

        <ion-col class="no-padding">
            <span class="serious-text" [ngClass]="{'focused': serious}">S</span>
            <ion-checkbox color="dark" checked="false" [(ngModel)]="serious" (ionChange)="updateSerious(faultTitle, section)"></ion-checkbox>
          <span class="dangerous-text" [ngClass]="{'focused': dangerous}">D</span>
          <ion-checkbox color="dark" checked="false" [(ngModel)]="dangerous" (ionChange)="updateDangerous(faultTitle, section)"></ion-checkbox>
        </ion-col>
        
      </ion-row>
    </div>
</div>
