dl25-modal.ion-page {
    top: 20%;
    left: 15%;
    padding:  20px;
    background-color: map-get($colors, light);
    width: 70%;
    height: 45%;
    border-radius: 10px;
    ion-modal {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
