<div>
  <div class="modal-heading">
    <h3 class="heading-medium">{{faultData.title}}</h3>
  </div>
  <div class="modal-content">
    <!-- RADIO BUTTONS -->
    <div *ngIf="faultData.hasRadioButtons">
      <ion-list radio-group>
        <ion-item *ngFor="let radio of faultData.radioButtons">
          <ion-label>{{radio}}</ion-label>
          <ion-radio [value]="radio"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
    <!-- CHECKBOXES -->
    <div *ngIf="faultData.hasCheckboxes">
      <ion-item *ngFor="let checkbox of faultData.checkboxes">
        <ion-label>{{checkbox}}</ion-label>
        <ion-checkbox color="dark"></ion-checkbox>
      </ion-item>
    </div>
    <!-- QUESTION -->
    <div *ngIf="faultData.hasQuestion">
      <h4 class="heading-small" margin-left>{{faultData.questionText}}</h4>
      <ion-list radio-group>
        <ion-item *ngFor="let radio of faultData.radioButtons">
          <ion-label>{{radio}}</ion-label>
          <ion-radio [value]="radio"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
    <!-- SUPPLEMENTARY RADIO BUTTONS -->
    <div *ngIf="faultData.hasSupplementaryRadioButtons">
      <dl25-modal-row [hasSections]="faultData.hasSections" [faultTitle]="faultData.title" *ngFor="let section of faultData.sections"
      [section]="section.title"></dl25-modal-row>
      <dl25-modal-row [faultTitle]="faultData.title" *ngIf="!faultData.hasSections"></dl25-modal-row>
      <ion-list radio-group>
        <ion-item *ngFor="let radio of faultData.radioButtons">
          <ion-label>{{radio}}</ion-label>
          <ion-radio [value]="radio"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
    <!-- NORMAL ROW -->
    <div *ngIf="isNormalRow(faultData)">
      <dl25-modal-row [hasSections]="faultData.hasSections" [faultTitle]="faultData.title" *ngFor="let section of faultData.sections"
        [section]="section.title" [isRemoveMode]="isRemoveMode"></dl25-modal-row>
      <dl25-modal-row [faultTitle]="faultData.title" *ngIf="!faultData.hasSections" [isRemoveMode]="isRemoveMode"></dl25-modal-row>
    </div>
  </div>
  <div class="modal-footer" text-center margin-left margin-right>
    <ion-row>
      <ion-col>
        <button *ngIf="isRemoveMode" ion-button block color="dark" (click)="toggleRemoveMode()">Remove Fault</button>
        <button *ngIf="!isRemoveMode" ion-button block color="dark" outline (click)="toggleRemoveMode()">Remove Fault</button>
      </ion-col>

      <!-- <ion-col>
        <button ion-button block color="dark" outline (click)="closeModal()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="dark" (click)="closeModal()">Confirm</button>
      </ion-col> -->
    </ion-row>
  </div>
</div>
