<div>
  <div class="modal-heading">
    <h3 class="heading-medium">{{faultData.title}}</h3>
  </div>
  <div class="modal-content">
    <dl25-modal-row
      [hasSections]="faultData.hasSections"
      [faultTitle]="faultData.title"
      *ngFor="let section of faultData.sections" 
      [section]="section" 
    ></dl25-modal-row>
    <dl25-modal-row [faultTitle]="faultData.title" *ngIf="!faultData.hasSections"></dl25-modal-row>
  </div>
  <div class="modal-footer" text-center margin-left margin-right>
    <ion-row>
      <ion-col>
        <button ion-button block color="dark" outline (click)="closeModal()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="dark" (click)="closeModal()">Confirm</button>
      </ion-col>
    </ion-row>
  </div>
</div>
