dl25-modal.ion-page {
    top: 20%;
    left: 15%;
    background-color: map-get($colors, light);
    width: 70%;
    height: 45%;
    border-radius: 10px;
    ion-modal {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-heading {
        background-color: map-get($colors, dark);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h3 {
            padding: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
            color: map-get($colors, light);
        }
    }

}
