<ion-row>
  <ion-col>
    <ion-icon name="ios-add-circle-outline"></ion-icon>
  </ion-col>
  <ion-col>
    <span class="fault-total bold-medium">3</span>
  </ion-col>
  <ion-col>
    <ion-icon name="ios-remove-circle-outline"></ion-icon>
  </ion-col>
  <ion-col>
    <div class="multiple-choice">
      <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
    </div>
  </ion-col>
  <ion-col>
    <div class="multiple-choice">
      <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
    </div>
  </ion-col>
</ion-row>