all-on-one-form-fault-modes-sub-element {
  &.driving-faults {
    .fault-button {
      border: 1px solid map-get($colors, dark) !important;
    }
  }
  &.serious {
    .fault-button {
      border: 1px solid map-get($colors, warn) !important;
      background-color: lighten(map-get($colors, warn), 30);
    }
  }
  &.dangerous {
    .fault-button {
      border: 1px solid map-get($colors, danger) !important;
      background-color: lighten(map-get($colors, danger), 35);
    }
  }
  ion-icon {
    font-size: 32px;
  }
  .fault-total {
    //line-height: 1.75;
    position: absolute;
    top: -6px;
    left: 12px;
  }
  ion-checkbox {
    padding-top: 5px;
  }
  .checkbox-ios-dark .checkbox-checked .checkbox-inner {
    display: none;
    left: 13px;
    top: 6px;
    width: 5px;
    height: 15px;
  }
  .fault-type-text {
    position: absolute;
    top: -6px;
    left: 12px;
    z-index: 1;
    font-weight: bold;
    pointer-events: none;
    &.focused {
      color: #fff;
    }
  }
  .fault-button {
    .dangerous {
      position: absolute;
      top: -6px;
      right: 11px;
    }
    .serious {
      position: absolute;
      top: -6px;
      right: 30px;
    }
  }
  .shrink {
    transform: scale(0.55);
  }
  .name {
    padding-left: 20px;
  }
  .pad-more {
    margin-left: 5px;
  }
}
