mes-header {
    color: #ffff;
    .toolbar {
        min-height: 44px;
    }
    .heading-small {
        position: absolute;
        top: -14px;
        left: 38px;
    }
    // #mes-menu-button {
    //     :hover {
    //         background-color: map-get($colors, black);
    //     }
    //     :focus {
    //         background-color: map-get($colors, black);
    //     }
    //     background-color: map-get($colors, black);
    // }
    p {
        font-size: smaller;
    }
}
