mes-header {
    color: #ffff;
    .toolbar {
        min-height: 44px;
    }
    header {
        padding: 4px;
        background-color: map-get($colors, black)
    }
    .heading-small {
        position: absolute;
        top: -14px;
        left: 38px;
    }
    p {
        font-size: smaller;
    }
}
