<ion-navbar hideBackButton no-padding color="black">
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/dvsa-logo-black.jpg" width="36" height="32" alt="">
        <span class="heading-small">DVSA</span>
      </ion-col>
      <ion-col>
        <h3 text-center no-margin class="heading-medium">Driving Test</h3>
      </ion-col>
      <ion-col>
        <button id="mes-menu-button" float-right padding-right no-margin ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-navbar>