<ion-header>
  <mes-header></mes-header>
  <report-header></report-header>
</ion-header>

<ion-content padding class="main-content" no-bounce>
  <ion-row class="reduced-padding">
    <ion-col class="reduced-padding" *ngFor="let column of columns">
      <button
        class="section-button"
        block 
        ion-button 
        color="grey" 
        *ngFor="let button of column"
        (click)="createModal(button)"
      >
        <span class="fault-badge dangerous" *ngIf="hasDangerousFault(button)">D</span>
        <span class="fault-badge serious" *ngIf="hasSeriousFault(button)">S</span>
        <span class="fault-badge df" *ngIf="getNumberOfFaults(button) > 0" color="dark">{{getNumberOfFaults(button)}}</span>
        {{button.title}}
      </button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row margin-right margin-left>
          <ion-col>
            <button (click)="angledStartClick()" class="legal-req-button" outline icon-end block ion-button color="dark">Angled Start
              <ion-icon *ngIf="angledStartComplete" name="checkmark-circle-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button (click)="hillStartClick()" class="legal-req-button" outline icon-end block ion-button color="dark">Hill Start
              <ion-icon *ngIf="hillStartComplete" name="checkmark-circle-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button (click)="manouevreClick()" class="legal-req-button" outline icon-end block ion-button color="dark">Manouevre
              <ion-icon *ngIf="manouevreComplete" name="checkmark-circle-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button (click)="normalStop1Click()" class="legal-req-button" outline icon-end block ion-button color="dark">Normal start 1
              <ion-icon *ngIf="normalStop1Complete" name="checkmark-circle-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button (click)="normalStop2Click()" class="legal-req-button" outline icon-end block ion-button color="dark">Normal start 2
              <ion-icon *ngIf="normalStop2Complete" name="checkmark-circle-outline"></ion-icon>
            </button>
          </ion-col>
          <!-- <ion-col>
            <button class="legal-req-button" outline icon-end block ion-button color="dark">30 mins driving
              <ion-icon *ngIf="drivingTimeComplete" name="checkmark-circle-outline"></ion-icon>
            </button>
          </ion-col> -->
        </ion-row>
  </ion-toolbar>
</ion-footer>
