page-dl25-buttons-modals {
    .section-button {
        font-size: 18px;
        font-weight: bold;
        padding: 35px 15px;
        margin: 10px 5px;
        border-radius: 10px;
    }
    .fault-badge-df {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: map-get($colors, dark);
        color: white;
        padding: 4px 6px;
        border-radius: 8px;
        font-size: 14px;
    }
}
