<ion-header>
  <ion-navbar>
    <ion-title>
      {{formPage.pageName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let section of formPage.pageOptions.sections; let i = index;">
    <ion-list-header style="overflow:auto;">
      <span class="float-left">
          {{section.header}}
      </span>
      
      <div *ngIf="i==0" class="right-input-margin float-right">
        <span>S</span>
        <span style="margin-left: 24px;">D</span>
      </div>
    </ion-list-header>
    <ion-item *ngFor="let item of section.items">
      <fail-counter [name]="item.name" [(counter)]="item.counter" [(isSerious)]="item.isSerious" [(isDangerous)]="item.isDangerous"></fail-counter>
    </ion-item>
  </ion-list>
</ion-content>
