<ion-header>
    <mes-header></mes-header>
  </ion-header>
  
  <ion-content padding>
    <ion-row>
      <ion-col col-8><h2 class="titles">Competency</h2></ion-col>
      <ion-col col-2 class="buttons">SF</ion-col>
      <ion-col col-1 class="buttons">S</ion-col>
      <ion-col col-1 class="buttons">D</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
          <ul>
              <li class="lines" *ngFor="let test of data1">
                <ion-row>
                  <ion-col col-8><h2 class="titles">{{test.name}}</h2></ion-col>
                  <ion-col *ngIf="!test.marks" col-2 class="buttons">
                    <ion-row>
                      <ion-col col-3 right><button ion-button >-</button></ion-col>
                      <ion-col col-4 center><ion-input type="number" placeholder="0"></ion-input></ion-col>
                      <ion-col col-3 center><button ion-button >+</button></ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col *ngIf="!test.marks" col-1 class="buttons">
                      <ion-checkbox></ion-checkbox>
                  </ion-col>
                  <ion-col *ngIf="!test.marks" col-1 class="buttons">
                      <ion-checkbox></ion-checkbox>
                  </ion-col>
                </ion-row>
                <div class="testContent">
                  <ul *ngIf="test.marks">
                    <li class="nestedList" *ngFor="let marks of test.marks">
                        <ion-row>
                        <ion-col col-8><h2 class="titles">{{marks.name}}</h2></ion-col>
                        <ion-col col-2 class="buttons">
                          <ion-row>
                              <ion-col col-3 right><button ion-button >-</button></ion-col>
                              <ion-col col-4 center><ion-input type="number" placeholder="0"></ion-input></ion-col>
                              <ion-col col-3 center><button ion-button >+</button></ion-col>
                          </ion-row>
                        </ion-col>
                        <ion-col col-1 class="buttons">
                            <ion-checkbox></ion-checkbox>
                        </ion-col>
                        <ion-col col-1 class="buttons">
                            <ion-checkbox></ion-checkbox>
                        </ion-col>
                      </ion-row>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
      </ion-col>
      <ion-col col-6>
          <ul>
              <li class="lines" *ngFor="let test of data1">
                <ion-row>
                  <ion-col col-8><h2 class="titles">{{test.name}}</h2></ion-col>
                  <ion-col *ngIf="!test.marks" col-2 class="buttons">
                    <ion-row>
                      <ion-col col-3 right><button ion-button >-</button></ion-col>
                      <ion-col col-4 center><ion-input type="number" placeholder="0"></ion-input></ion-col>
                      <ion-col col-3 center><button ion-button >+</button></ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col *ngIf="!test.marks" col-1 class="buttons">
                      <ion-checkbox></ion-checkbox>
                  </ion-col>
                  <ion-col *ngIf="!test.marks" col-1 class="buttons">
                      <ion-checkbox></ion-checkbox>
                  </ion-col>
                </ion-row>
                <div class="testContent">
                  <ul *ngIf="test.marks">
                    <li class="nestedList" *ngFor="let marks of test.marks">
                        <ion-row>
                        <ion-col col-8><h2 class="titles">{{marks.name}}</h2></ion-col>
                        <ion-col col-2 class="buttons">
                          <ion-row>
                              <ion-col col-3 right><button ion-button >-</button></ion-col>
                              <ion-col col-4 center><ion-input type="number" placeholder="0"></ion-input></ion-col>
                              <ion-col col-3 center><button ion-button >+</button></ion-col>
                          </ion-row>
                        </ion-col>
                        <ion-col col-1 class="buttons">
                            <ion-checkbox></ion-checkbox>
                        </ion-col>
                        <ion-col col-1 class="buttons">
                            <ion-checkbox></ion-checkbox>
                        </ion-col>
                      </ion-row>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
      </ion-col>
    </ion-row>
    
  </ion-content>
  