page-competency {

    fault-controls-multiCol {
        .button[icon-only] {
            height: 1.5em;
            width: 1.5em;
        }

        ion-checkbox {
            transform: scale(1.2);
            margin: 0;
        }

    }

    .buttons {
        padding-left: 15px;
    }

    .lines {
        border: 1px solid #ddd;
        margin: 10px 0;
    }

    .testContent {
        display: inline;
    }

    .titles {
        display:inline;
        font-weight: bold;
        font-size: 1.2em;
    }

    .nestedList {
        padding: 5px 0px;

        .row > ion-col h2 {
            padding-left: 10px;
        }
    }

    .nestedList:nth-child(odd) {
        background: #f3f3f3;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 5px;
    }
}