page-competency {

    fault-controls-multiCol {

        height: 20px;

        .button[icon-only] {
            height: 0.9em;
            width: 0.9em;
            bottom: 22px;

            ion-icon {
                font-size: 0.9em;
            }
        }

        ion-checkbox {
            transform: scale(0.8);
            margin: 0;
            bottom: 15px;
        }

        .faults {
            padding-right: 5px;
        }
    
        .nonFaults {
            top: 10px;
            margin: 0;
        }

        .fault-total {
            font-size: 1em;
            position: relative;
            bottom: 17px;
        }

    }

    .buttons {
        padding: 0 0 0 15px
    }

    .lines {
        border: 1px solid #ddd;
        margin: 10px 0;
        .row > ion-col {
            padding: 2px;
        }
    }

    .testContent {
        display: inline;
    }

    .titles {
        display:inline;
        font-weight: bold;
        font-size: 1.2em;
    }

    .nestedList {
        padding: 5px 0px;

        .row > ion-col {
            padding: 2px;

            h2 {
                padding-left: 10px;
            }
        }
    }

    .nestedList:nth-child(odd) {
        background: #f3f3f3;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 5px;
    }
}