page-competency {
    .buttons {
        text-align: center;

        ion-row {
            left: 15px;
            position: relative;
            top: -12px;
        }

        &.singleLine ion-row {
            top: -5px;
        }
    }

    .button {
        height: 20px;
    }

    ion-checkbox {
        top: -3px;
        margin:0px 5px 5px 0;
        transform: scale(1.25);
    }

    ion-input {
        height: 25px;
        border: 1px solid #aaa;
        margin: 3px 4px;

        .text-input-ios {
            margin: 2px 8px 11px 4px;
        }
    }

    .lines {
        border: 1px solid #ddd;
        margin: 10px 0;

        > ion-row h2.titles {
            font-weight: bold;
        }

        > .row .buttons ion-checkbox {
            top: 5px;
        }

        > .row {
            height: 20px;
        }
    }

    .testContent {
        display: inline;
        & > .buttons {
            padding-right: 15px;
            top: -15px;
        }
    }

    .titles {
        display:inline;
    }

    .nestedList {
        padding: 5px 0px;

        ion-row {
            height: 25px;
        }
    }

    .nestedList:nth-child(odd) {
        background: #f3f3f3;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 2px;

    }

    .header {
        .buttons {
            top: 15px;
            right: 15px;
            span {
                padding: 0 23px;
                &:first-child {
                    padding: 0 45px;
                }
            }
        }
    }
}
