.mes-button-primary {
  border-radius: 22px;
  min-width: 105px;
  background-color: map-get($colors, mesPrimary);
  padding: 15px 40px;
  color: map-get($colors, white);
  font-weight: bold;
  font-size: 17px;
  &:active {
    background-color: lighten(map-get($colors, mesPrimary), 5);
  }
}

.mes-bottom-card {
  margin-top: 0;
  .mes-button-primary {
    padding: 30px 80px;
    margin: 30px 0;
  }
}

.mes-button-danger {
  border-radius: 22px;
  min-width: 105px;
  background-color: map-get($colors, danger);
  padding: 15px 40px;
  color: map-get($colors, white);
  font-weight: bold;
  font-size: 17px;
  &:active {
    background-color: lighten(map-get($colors, danger), 5);
  }
}
