.footer span {
    &:before,
    &:after {
        content: ' ';
        width: 0;
        height: 0;
        position: absolute;
        clear: both;
    }
    &:before {
        border-top: 10px solid transparent;
        border-right: 10px solid #bfbfbf;
        border-bottom: 10px solid transparent;
        left: 10%;
        top: 30%;
        visibility: visible;
    }
    &:after {
        border-top: 10px solid transparent;
        border-left: 10px solid #bfbfbf;
        border-bottom: 10px solid transparent;
        left: 45%;
        top: 30%;
        visibility: hidden;
    }
}

.mes-split .mes-sideMenu.min {
    min-width: 70px;
    max-width: 70px;
    transition-timing-function: ease-in;
    .mes-sideMenu-list button span {
        opacity: 0;
    }
    .footer span,
    .footer span:before {
        visibility: hidden;
    }
    .footer span:after {
        visibility: visible;
        transition: visibility 2s linear;
        transition-delay: 0.5s;
    }
}

.split-pane-visible>.split-pane-side.mes-sideMenu {
    border: none;
    transition-timing-function: ease-out;
    transition: 0.5s;
    .toolbar-title img {
        bottom: 7px;
        position: absolute;
        height: 35px;
        left: 10px;
    }
    .toolbar-background {
        background: map-get($colors, lighterDark);
    }
    .content {
        background: map-get($colors, darkerGrey);
    }
    .footer {
        padding-left: 20px;
        font-size: 18px;
        background: map-get($colors, lighterGrey);
        height: 57px;
        color: map-get($colors, textGrey);
        line-height: 55px;
        span {
            margin-left: 20px;
        }
    }
}

.mes-sideMenu .mes-sideMenu-list {
    margin: 16px 0 16px 0;
    position: relative;
    ion-icon {
        position: absolute;
        font-size: 30px;
        margin: 0 15px 0 25px;
        top: 15px;
    }
    button {
        color: map-get($colors, light);
        background: map-get($colors, darkerGrey);
        padding-left: 0;
        position: relative;
        line-height: 35px;
        font-size: 15px;
        text-align: left;
        height: 60px;
        display: block;
        margin: 20px 0;
        width: 100%;
        font-weight: bold;
        &.active {
            background: map-get($colors, pageBg);
            color: map-get($colors, dark);
            &:before {
                top: 0;
                height: 60px;
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                background: map-get($colors, orange);
            }
        }
        span {
            position: relative;
            opacity: 1;
            left: 60px;
        }
    }
}