<div>
  <div class="modal-heading">
    <h3 class="heading-medium">{{item.text}}</h3>
  </div>
  <div class="modal-content">
    <div>
      <ion-item>
        <ion-label>Serious</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="item.serious" (ionChange)="updateSerious()" (tap)="closeModal()"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Dangerous</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="item.dangerous" (ionChange)="updateDangerous()" (tap)="closeModal()"></ion-checkbox>
      </ion-item>
      <div text-center>
        <button margin-top ion-button icon-right outline round color="dark" (click)="removeDrivingFault()">
          Remove driving fault
          <ion-icon name="remove-circle-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div>
