fault-controls-multiTab {
    ion-icon {
        font-size: 32px;
    }

    .button[icon-only] {
        position: relative;
        bottom: 5px;
        height: 2em;
        width: 2em;
    }

    ion-col[col-1] {
        margin: 0 5px;
    }

    ion-checkbox {
        transform: scale(1.5);
        margin: 0 10px;
    }
    .checkbox-ios-dark .checkbox-checked .checkbox-inner {
        display: none;
        left: 13px;
        top: 6px;
        width: 5px;
        height: 15px;
    }
    .fault-type-text {
        font-size: 1.5em;
        position: absolute;
        bottom: 10px;
        left: 25px;
        z-index: 1;
        font-weight: bold;
        pointer-events: none;
        &.focused {
            color: #fff;
        }
    }
}
